.idea
node_modules
scripts/bin
scripts/src/**/*.js
scripts/src/**/*.d.ts
scripts/src/**/*.js.map
tests/src/**/*.d.ts
tests/src/**/*.js
tests/src/**/*.js.map
database.sqlite
.tags
.DS_Store
examples/kik*
.secrets*
jwt/**/*.pem
examples/*.pem
coverage/*
bin/*
