version: "3"

services:
  payment-service:
    image: kinecosystem/payment-service:d36a5e4
    ports:
      - 3000
    links:
      - redis
    environment:
      &payment_env_vars
      APP_DEBUG: 'False'
      APP_PORT: 3000
      APP_HOST: '0.0.0.0'
      APP_NAME: 'payment-service'
      APP_REDIS: redis://redis:6379/0
      STELLAR_INITIAL_XLM_AMOUNT: 2
      STELLAR_BASE_SEED: ${STELLAR_BASE_SEED}
      STELLAR_HORIZON_URL: 'https://horizon-playground.kininfrastructure.com'
      STELLAR_NETWORK: 'Kin Playground Network ; June 2018'
      STELLAR_KIN_ISSUER_ADDRESS: 'GBC3SG6NGTSZ2OMH3FFGB7UVRQWILW367U4GSOOF4TFSZONV42UJXUH7'
      STELLAR_KIN_TOKEN_NAME: 'KIN'

  payment-worker:
    image: kinecosystem/payment-service:d36a5e4
    command: pipenv run python worker.py
    links:
      - redis
    environment:
      <<: *payment_env_vars
      CHANNEL_SALT: some_salt
      MAX_CHANNELS: 1

  payment-watcher:
    image: kinecosystem/payment-service:d36a5e4
    command: pipenv run python watcher.py
    links:
      - redis
    environment:
      <<: *payment_env_vars

  redis:
    image: redis:4.0
    ports:
      - 6379

  jwt-service:
    image: kinecosystem/jwt-service:56b92a3
    ports:
      - 3000
    environment:
      APP_DEBUG: 'False'
      APP_PORT: 3000
      APP_HOST: '0.0.0.0'
      APP_NAME: 'smpl'
      APP_MARKETPLACE_SERVICE: 'marketplace-public'

  bi-service:
    image: mendhak/http-https-echo
    ports:
      - 80
      - 443
