version: "3"

services:
  payment-service:
    image: kinecosystem/payment-service:9a56cb8
    ports:
      - 3000
    links:
      - redis
    environment:
      &payment_env_vars
      APP_DEBUG: 'False'
      APP_PORT: 3000
      APP_HOST: '0.0.0.0'
      APP_NAME: 'payment-service'
      APP_REDIS: redis://redis:6379/0
      STELLAR_CHANNEL_SEEDS: ${STELLAR_CHANNEL_SEEDS}
      STELLAR_BASE_SEED: ${STELLAR_BASE_SEED}
      STELLAR_ADDRESS: ${STELLAR_ADDRESS}
      STELLAR_HORIZON_URL: 'https://horizon-kik.kininfrastructure.com'
      STELLAR_NETWORK: 'private testnet'
      STELLAR_KIN_ISSUER_ADDRESS: 'GBQ3DQOA7NF52FVV7ES3CR3ZMHUEY4LTHDAQKDTO6S546JCLFPEQGCPK'
      STELLAR_KIN_TOKEN_NAME: 'KIN'
      STELLAR_INITIAL_XLM_AMOUNT: 2

  payment-worker:
    image: kinecosystem/payment-service:9a56cb8
    command: pipenv run python worker.py
    links:
      - redis
    environment:
      <<: *payment_env_vars
      CHANNEL_SALT: some_salt

  payment-watcher:
    image: kinecosystem/payment-service:9a56cb8
    command: pipenv run python watcher.py
    links:
      - redis
    environment:
      <<: *payment_env_vars

  redis:
    image: redis:4.0
    ports:
      - 6379

  jwt-service:
    image: kinecosystem/jwt-service:1e08d91
    ports:
      - 3000
    environment:
      APP_DEBUG: 'False'
      APP_PORT: 3000
      APP_HOST: '0.0.0.0'
      APP_NAME: 'smpl'
      APP_MARKETPLACE_SERVICE: 'marketplace-server'

  bi-service:
    image: mendhak/http-https-echo
    ports:
      - 80
      - 443
