version: "3"

services:

  marketplace-server:
    image: kinecosystem/marketplace-server:latest
    command: ./tests/wait-for marketplace-internal:3000 -- npm run start
    restart: "no"
    volumes:
      - .:/opt/app
    ports:
      - 3000:3000

  marketplace-internal:
    image: kinecosystem/marketplace-server:latest
    command: ./tests/wait-for postgres:5432 -- npm run start-internal
    volumes:
      - .:/opt/app
    ports:
      - 3001:3000

  marketplace-admin:
    image: kinecosystem/marketplace-server:latest
    command: ./tests/wait-for marketplace-server:3000 -- npm run start-admin
    volumes:
      - .:/opt/app
    ports:
      - 3002:3000
